.wp-block-pbtv-highlights iframe {
	border: 0;
}

.wp-block-pbtv-highlights .video-thumbnail__play {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 56px;
	height: 56px;
	transform: translate(-50%, -50%);
	border-radius: 9999px;
	background: rgba(0, 0, 0, 0.6);
}

.wp-block-pbtv-highlights .video-thumbnail__play::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 55%;
	width: 0;
	height: 0;
	transform: translate(-50%, -50%);
	border-style: solid;
	border-width: 10px 0 10px 18px;
	border-color: transparent transparent transparent #fff;
}
