<!-- wp:template-part {"slug":"header","className":"sticky top-0 z-[1000] bg-white"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">

	<!-- wp:group {"className":"container mx-auto max-w-4xl px-4 py-10 xl:px-0"} -->
	<div class="wp-block-group container mx-auto max-w-4xl px-4 py-10 xl:px-0 min-h-[calc(100vh-230px)]">

		<!-- wp:post-title {"level":1,"className":"text-pbtv-red font-bold text-3xl md:text-4xl"} /-->

		<!-- wp:post-featured-image {"align":"wide","className":"mb-10"} /-->

		<!-- wp:post-content /-->

	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->