@import "tailwindcss";

@utility container {
	max-width: 1200px;
}

@theme {
	--color-pbtv-red: #C12E26;
	--color-pbtv-green-light: #cce1e3;
	--color-pbtv-green: #006871;
}

@source "../../templates/**/*.html";
@source "../../parts/**/*.html";
@source "../../patterns/**/*.php";
@source "../../*.php";
@source "../../inc/**/*.php";
@source "../../blocks/**/*.php";

.admin-bar .wp-site-blocks header.sticky.top-0{
    top: 32px !important;
}

.wp-block-post-title {
	margin-bottom: 2rem;
}

@media (max-width: 40rem) {
	header .wp-block-site-logo img{
		height: 100%;
		width: auto;
		max-height: 75px;
	}
}